@charset "UTF-8";

/* 基本 */
body {
	font-family: sans-serif;
	color: #333;
}

.container {
	width: 84%;
	max-width: 1147px;
	margin: 0 auto;
}

body, h1, h2, h3, h4, h5, h6, p, ul, figure {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	opacity: 0.8;
}

p {
	word-wrap: break-word;
}

img {
	width: 100%;
	height: auto;
	vertical-align: bottom;
}

.site img {
	width: auto;
	max-width: 100%;
	height: 30px;
}

svg {
	vertical-align: bottom;
}

.about,
.works {
	padding: 30px 0;
}

.nav,
.catch h1,
.about h2,
.works h2,
.detail p:first-of-type,
.info .subtitle {
	font-family: 'Avenir Next', 'Segoe UI', Helvetica, sans-serif;
}

.sr-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}


/* header */
.header .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 134px;
	text-align: center;
}

.nav ul {
	display: flex;
	justify-content: center;
	list-style: none;
	margin-top: 18px;
	/*color: #477294;*/
}

.nav li:not(:last-child) {
	margin-right: 55px;
}

@media (min-width: 900px) {
	.nav ul {
		margin-top: 0;
	}
	.header .container {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 100px;
	}
}


/* main */
.main {
	position: relative;
	/*max-width: 1080px;*/
	height: 600px;
	margin: 0 auto;
}

.main figure img {
	position: absolute;
	right: 0;
	width: 900px;
	height: auto;
	object-fit: cover;
}

.catch {
	max-width: 1147px;
	position: absolute;
	top: 560px;
	left: 0;
	margin: auto auto 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*text-align: center;*/
	/*color: #fff;*/
	/*text-shadow: 0 0 20px rgba(0,0,0,0.5);*/
}

.catch h1 {
	font-size: 50px;
	/*margin-bottom: 10px;*/
}
.catch p {
	font-size: 20px;
}

@media (min-width: 900px) {
	.main {
		margin-bottom: 100px;
	}
	.main figure img {
		/*height: 750px;*/
	}
	.catch {
		top: 540px;
		left: 70px;
	}
	.catch h1 {
		font-size: 70px;
		margin-bottom: 30px;
	}
	.catch p {
		font-size: 16px;
	}
}

/*@media (min-width: 900px) {*/
	/*.catch h1 {*/
		/*font-size: 56px;*/
		/*margin-bottom: 30px;*/
	/*}*/
	/*.catch p {*/
		/*font-size: 24px;*/
	/*}*/
/*}*/


/* About Works共通 */
.about h2,
.works h2 {
	/*color: #477294;*/
	margin-bottom: 20px;
	font-size: 36px;
	text-align: center;
}
.detail {
	margin-bottom: 30px;
}

@media (min-width: 900px) {
	.details {
		display: flex;
		justify-content: space-between;
	}
	.detail {
		width: 31.5%
	}
	/*.detail p:last-of-type {*/
	/*font-size: 14px;*/
	/*}*/
}

/* About */
.about .detail figure {
	/*max-width: 320px;*/
	/*margin: auto;*/
}


@media (min-width: 900px) {
	.about .detail {
		display: flex;
		/*justify-content: space-between;*/
	}
	.about .detail {
		width: 100%
	}
	.about .detail p {
		margin-left: 30px;
	}

}

/* Works */


/*@media (min-width: 950px) {*/
	/*.detail p:last-of-type {*/
		/*font-size: 14px;*/
	/*}*/
/*}*/

/* フッター */
.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	color: #fff;
    /*background-image: url(/images/pattern.jpg);*/
    background-size: cover;
    background-color: #333;
}

.footer .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer .site {
	text-align: center;
}
.footer .site p {
	margin-top: 20px;
	margin-bottom: 50px;
	font-size: 14px;
}

@media (min-width: 900px) {
	.footer {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.footer .container {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.footer .site {
		text-align: left;
	}
	.footer .site p {
		margin-top: 10px;
		margin-bottom: 0;
		font-size: 18px;
	}
}


/* SNSメニュー */
.sns {
	display: flex;
	list-style: none;
	font-size: 40px;
}

.sns li:not(:last-child) {
	margin-right: 30px;
}


/* ===========================
 aboutページ
 =========================== */
.about-skills {

}

.about-skills h2 {
	font-size: 20px;
}

.about-skills .details {
	/*display: flex;*/
}
.about-skills .details .detail {
	text-align: center;
}
.about-skills .details .detail figure img {
	width: 100%;
}

.arrow_wrap{
	padding-bottom: 200px;
	overflow: hidden;
}
.arrow{
	position: relative;
}
.arrow::after{
	content: '';
	position: absolute;
	top: 100%;
	left: calc(50vw - 50%);
	width: 0;
	height: 0;
	border-top: 50px solid #fff;
	border-left: 50vw solid transparent;
	border-right: 50vw solid transparent;
}

.about-vision {
	 background: #f3f3f3;
	 margin-top: -200px;
}

.about-vision h2 {
	margin-top: 50px;
}

@media (min-width: 900px) {
	.about-skills {

	}
	.about-skills .details {
		display: flex;
	}
	.about-skills .details .detail figure img {
		width: 100%;
	}
	.arrow::after {
		border-top: 120px solid #fff;
	}
	.about-vision h2 {
		margin-top: 120px;
	}
}


/* ===========================
 ブログページ
 =========================== */
.postbody > * {
	margin-bottom: 2em;
}
.postbody h2 {
	margin-top: 2.5em;
	margin-bottom: 1.5em;
	font-size: 20px;
}
.postbody h2 [class*="fa-"] {
	margin-right: 15px;
	color: #477294;
}

.postbody p {
	line-height: 1.8;
}
.postbody ul {
	padding-left: 30px;
}
.postbody li:not(:last-child) {
	margin-bottom: 1em;
}

@media (min-width: 768px) {
	.content {
		padding-top: 70px;
		padding-bottom: 60px;
	}

	.content h1 {
		margin-bottom: 40px;
		font-size: 38px;
	}

	.postbody h2 {
		font-size: 28px;
	}
}
/* ブログ記事の情報 */
.info time {
	margin-bottom: 5px;
}

.info .cat ul {
	list-style: none;
	display: inline-flex;
}
.info .cat li:not(:last-child)::after {
	content: '・';
	margin: 0 5px;
}

@media (min-width: 768px) {
	.info {
		display: flex;
		justify-content: space-between;
		font-size: 16px;
	}
}


/* 前後の記事へのリンク */
.postlink {
	margin-top: 4em;
	list-style: none;
	color: #477294;
	font-size: 14px;
	display: flex;
}

.postlink li {
	width: 48%;
	display: flex;
	align-items: center;
}

.postlink a {
	display: flex;
	align-items: center;
}

.postlink .next {
	margin-left: auto;
	justify-content: flex-end;
}

.postlink .prev [class*="fa-"] {
	margin-right: 10px;
}
.postlink .next [class*="fa-"] {
	margin-left: 10px;
}


/* ブログ記事一覧ページ */
.bloglist .container {
	max-width: 1000px;
}

.bloglist .posts {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* ブログ記事一覧 */
.posts {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 50px;
}

.posts article {
	width: 48%;
	margin-bottom: 20px;
}

.posts img {
	height: 150px;
	object-fit: cover;
}
.posts h3 {
	margin-top: 10px;
	font-size: 14px;
}

@media (min-width: 768px) {
	.posts h3 {
		font-size: 16px;
	}

	.posts img {
		height: 200px;
	}
}


/* ページネーション */
.pagenation {
	margin-top: 1.8em;
	list-style: none;
	display: flex;
}

.pagenation .next {
	margin-left: auto;
}

.pagenation a {
	width: 7em;
	padding: 0.5em 1em;
	border-radius: 1em;
	background-color: #477294;
	color: #fff;
	font-size: 14px;
	display: flex;
	align-items: center;
}
.pagenation .next a {
	justify-content: flex-end;
}

.pagenation .prev [class*="fa-"] {
	margin-right: 10px;
}
.pagenation .next [class*="fa-"] {
	margin-left: 10px;
}
